@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body,html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.portfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.navlist{
    display:flex;
    gap:3.5rem ;
    list-style: none;
   
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
}
.left-container{
 background: #262525;
 width: 70%;
 padding-left:3rem ;
}
.right-container{
background: #5DB9EE;
width: 30%;
background: linear-gradient(-45deg,#4bb3f0,#262525 70%);
}
.left-container,.right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.icons .fa-brands{
    color: #bbb;
    font-size: 1.7rem;
    
    
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 3rem;
  
}
.content{
   margin-left:4rem ; 
}
.content .intro span {
    color: #5DB9EE;

}


/* .con1 , .naam span  :hover{
   content: ' ';
   position: absolute;
   /* left: 10%; */
   /* width: 120%; */
   /* height: 120%; */
/* 
   animation: animate 10s linear forwards;
}

@keyframes animate{
    0%{
        left:15%
    }
    100%{
        left: -10%
    } */
    /* 0%{
        right:115%
    }
    100%{
      right: -110%
    } */
    
/* } */ 
.content ,.intro , #abc{
    color: #ffffff;
    font-size:1.5rem ;
}
.content h1{
    font-size: 3rem;
    color: #5DB9EE;
}
.content .con1 .intro {
    color: #fff;
}
.content .detail{
    font-size: 1.1rem;
    color: #fff;
     max-width:38rem ;
     margin: 1.1rem 0 3rem 0;
     line-height: 1.8rem;
}
.btn button{
    border: .1rem solid #5DB9EE; 
    padding : .8rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
}
button:nth-child(1){
    background-color: #5DB9EE;
    color: #262525;
    
}
button:nth-child(1):hover{
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
    color: #262525;
}
button:nth-child(2){
    background-color:#262525;
    color: #fff;
    margin-left: 2rem;
}
button:nth-child(2):hover{
    background-color: #fff;
   cursor: pointer;
    color: #262525;
    transition: 0.5s;
}
.icons .fa-brands:hover{
    cursor: pointer;
    background-color: #5DB9EE;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
}
.design .circle{
 aspect-ratio: 1;
 position: absolute;
 top: 50%;
 left: 70%;
 transform: translate(-50%,-50%);

}
.circle:nth-child(1){
    background: linear-gradient(90deg, transparent 50%, #262525 50% );
    width: 30rem;
    border-radius: 50%;
    
}
.circle:nth-child(2){
   
    width: 22rem;
    border-radius: 50%;
    background-image: url("profile.png");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border: .5rem solid #fff;
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem #fff,
     inset 0 0 1rem #fff
     , 0 0 2rem #5DB9EE,
     inset 0 0 2rem #5DB9EE
     , 0 0 4rem #5DB9EE,
     inset 0 0 4rem #5DB9EE ;
}

.navlist li :hover{
   color: #5DB9EE;
   border: 0.1px solid #5DB9EE;
   padding: 1rem 2rem;
   transition: 0.3s;
}

/* contact pg */
.contact{
   
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color:rgb(17, 62, 99);
     */
     background: linear-gradient(-45deg,#4bb3f0,#262525 70%);
    /* background-image: url(bg2.jpg); */
    background-size: cover ;
    object-fit: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center; 
}
.contact h2{

    font-size:50px ;
    font-weight: 500;
    color: #f7efef;
}
.contact, .content p{
  
    font-weight: 300;
    color: #000000;
}
.container{
    width: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
 /*  */
.container .contactinfo{
    width:50%;
 display: flex;
 flex-direction: column;
}
.container .contactinfo .box {
    position: relative;
    padding: 20px 0;
    display:flex;
}




.container .contactinfo .box .icon2{
  
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border :1px solid black;
} 



.container .contactinfo .box .icon2 :hover{
    transform: scale(1.9);
}

.container .contactinfo .box .text{
    display: flex;
    margin-left:20px ;
    font-size: 16px;
    color: #ffffff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #ffffff;
}
.contactform{
    width: 40%;
    padding: 40px;
    background:#ffffff;
}
.contactform h2{
   font-size: 30px;
   color: #514f4fd7;
   font-weight: 500; 
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width:100% ;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom:2px solid #333 ;
    outline: none;
}


/* projects */

.project{
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    /* background-image: url(pac2.jpg); */
    /* background: linear-gradient(-35deg,#4bb3f0 62%,#262525 49% );  */
    background: linear-gradient(-45deg,#4bb3f0,#262525 70%);

    /* background-size: cover;
    background-repeat: no-repeat; */


}

.carousel-item  img{
     height: 590px;
     width:1000px;
     margin-left: 270px ;
}

.carousel-item img:hover{
    opacity: 0.2;
}

 .text11{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
        /* background: rgba(0,0,0,0.6);  */
        display: flex;
       align-items: center;
       flex-direction: column;
       opacity: 0;
       /* transition: 0.5s; */

} 
.text11:hover{
    width: 65.2vw;
    height: 100%;
   margin-left:17.5%;
    font-size: 23px;
 padding: 7%;
    top: 0; 
    left: 0; 
    color: #fff;
     position: absolute; 
        background: rgba(0,0,0,0.6); 
       display: flex;
       align-items: center;
       /* flex-direction: column; */
       opacity: 1;
       transition: 0.5s;

} 
/* .carousel-item  img:hover{
   opacity: 0.02;

}
.carousel-item active img:hover{
    opacity: 0.02;
} */
/* .p1{
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;

}

.p1 div{
   background:transparent;
   
   width: 390px;
   margin: 60px;
}


.p1 .ab{
    /* height: 250px; 
    width: 210px;  */
    /* background: #292828;
    justify-content: center;
    align-items: center;
    margin: 40px;
} */
/* .p1 .ab:hover{
    /* height: 250px; 
    width: 210px;  */
    /* background: #fbfbfb;
    justify-content: center;
    align-items: center;
    /* border-radius: 4%; */
    /* margin: 40px;
    transition: 0.8s; */
     
/* }  */
/* .p1 .ab img{ */
    /* height: 290px;
    width: 310px;
   margin: 40px;
   border-radius: 4%;
   animation: rotation 5s infinite linear;
} */ 
/* @keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */


  .heading{
    text-align: center;
    border-radius: 10%;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 10px;
    font-size: 70px;
    color: #fff;
    

}
/* .project .heading :hover{
   text-decoration: underline;

   transition: 0.8s;
} */
.skills{
        /* background-image: url(skills1.jpg);
        background-repeat: no-repeat;
        background-size: cover; */
        /* background: linear-gradient(-55deg,#5DB9EE  40% , #ffffff 60%  );   */
        background: linear-gradient(-45deg,#4bb3f0,#262525 70%);
        height: 100vh;
        width: 100vw;
    color: #000000;
 

}

.skills1{
  
    display: flex;
    margin-top: 0%; 
    margin-bottom: 0%;
    margin-left: 3%;
    margin-right: 3%;
}

.skills1 div{
   /* transform: scale(1.5s); */
    display: flex;
    border: 4px solid black;
    height:350px;
    width: 380px;
    margin: 14px;
    /* margin-left: 92px; */
    background-color: #fff
    ;
}

.skills1 :hover{
    transform:scale(1.1) ;
    transition: 0.5s;
}
.skills2 :hover{
    transform:scale(1.1) ;
    transition: 0.5s;
}

.skills .heading{
    text-align: center;
    padding: 40px;
    font-size: 70px;
    color: white;
}
.s1 , .s2 {
    box-shadow: 15px 15px 5px #2b2c2c61;
    padding: 20px;
}
.s3 ,.s4{
    box-shadow: 15px 15px 5px #3d3e3e6d;
}
.s1 , .s2 , .s3 ,.s4{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* box-shadow: 10px 10px 5px #aeaeb1; */
   
}
.s1 i{
    font-size: 150px;
   
}
.s2 i{
    font-size: 150px;
}
.s3 i{
    font-size: 150px;
}
 .s4  i{
    font-size: 150px;
    justify-content: center;
}
.s1 ,.s2 , .s3 , .s4  p{
    font-size: 20px;
    text-align: center;
}

 .about{
    height: 100vh;
    width: 100vw;
    align-items: center;
    background: linear-gradient(-45deg,#4bb3f0,#262525 70%);
   padding: 60px;
}
.about h1{
    text-align: center;
    font-size: 50px;
  
    color: #fff;
}
.abtme img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
  
    /* padding: 20px; */
    /* box-shadow: 15px 15px 5px #6293d7c5 ; */
}
.abtme img:hover{
    transform: scale(1.1);
}
.abt{
    padding: 30px;
    display: flex;
    font-size: 25px;
    color: white;
    border: 2px solid rgb(255, 255, 255);
}
.abtt{
    border: 2px solid #fff;
    padding: 10px;
    margin: 25px;
}
.abt2 p{
    border: 2px solid #fff;
     padding: 50px; 
     margin: 10px;
    justify-content: center; 
}

.outline{
    /* margin: 1/px; */
   
    border: 2px solid #fff;

} 
.cgrid{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100vw;
}
.foot{
    background-color: #000000;
    color: white;
    text-align: center;
}